*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

h1{
    text-align: center;
    color: antiquewhite;
    font-size: 18pt;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d144a2;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: solid thin #5e5757;
    border-radius: 5px;
    box-sizing: border-box;
    width: 250px;
    height: 150px;

    background-color: #5e5757;
}

input{
    margin: 0.45rem;
    border-radius: 7px;
    outline: none;
}

#res{
    color: antiquewhite;
    font-size: 18pt;
    text-decoration: underline;
}